body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.inputs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 70%;
}
form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 100%;
}

button {
	background-color: #00a4b6;
	max-width: 100px;
	color: white;
	padding: 12px 15px;
	margin: 8px 0;
	border: none;
	border-radius: 3%;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}
input {
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 3%;
	width: 100%;
}
input::placeholder {
	font-style: italic;
}
#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
}
.card {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	max-width: 200px;
}

img {
	width: 200px;
	max-height: 100px;
	border-radius: 5px;
}

h3 {
	text-align: center;
}
.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
